:root {
  --brading-color:#f9f7fd;
  --primary-color:#885df1;
  --heading-font-family:'Playfair Display', serif;
  --primary-font-family: 'Poppins', sans-serif;
}
h2 {
  font-size: 45px;
  font-family: var(--primary-font-family);
}
h3 {
   font-size: 45px;
  font-family: var(--primary-font-family);
}
h4 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family:var(--heading-font-family) ;
}
@media (max-width:700px) {
  h1 {
   font-size:45px; 
   line-height: 2;
  }
  .project-description  {
    padding: 0;
    text-align: center;
  }
}
footer .contact-box {
  background: var(--brading-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .btn-branding a {
 background:var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px; 
}

footer .email-link {
  text-decoration: none;
color: black;
text-align: center;
font-size: 24px;
}
footer .email-link:hover{
  color: var(--primary-color);
  padding: 30px;
  
}
footer .social-links a {
margin: 0 20px;
color: var(--primary-color);
background: var(--brading-color);
padding: 10px 14px;
font-size: 18px;
border-radius: 50%;
width: 18px;
height: 18px;
transition:all 100ms ease-in-out ;

}
footer .social-link a:hover{
  color:var(--primary-color);
  background: var(--brading-color);
}
.hero {
  background-color:var(--brading-color) ;
  text-align: center;
  padding: 80px 20px;
}
.hero h1 {
  font-family:var(--heading-font-family); 
  font-weight: bold;
  font-size: 45px;
}
.hero h2 {
  font-family:var(--primary-font-family);
  font-weight:normal;
  font-size: 24px;
line-height:1.5;
  
}

.hero p {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.hero a{
  background:var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  
}
 .container a {
  background:var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px; 
}
.content a {
  background:var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  padding: 8px;
}
.mg-fluid {
  max-width: 80%;
}
.project-description {
  padding: 120px 60px;
}

.container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 1;
}
.container h2 {
font-family: var(--primary-font-family);
font-size: 20px;
}
.about-section {
  
  padding: 40px 20px;
  margin: 30px;
  
}
.container {
text-align: center;
padding: 0;
}
.family {
  max-width: 50px;
  border-radius: 5px;
  padding-right:20px ;
} 
.nov a {
  margin:10px ;
  font-family: var(--primary-font-family);
}


