:root {
  --brading-color:#f9f7fd;
  --primary-color:rgb(195, 43, 226);
  --heading-font-family:'Playfair Display', serif;
  --primary-font-family: 'Poppins', sans-serif;
}
h2 {
  font-size: 45px;
  font-family: var(--primary-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family:var(--heading-font-family) ;
}
.hero {
  background-color:var(--brading-color) ;
  text-align: center;
  padding: 80px 20px;
}
.hero h1 {
  font-family:var(--heading-font-family); 
  font-weight: bold;
  font-size: 45px;
}
.hero h2 {
  font-family:var(--primary-font-family);
  font-weight:normal;
  font-size: 24px;
line-height:1.5;
  
}

.hero p {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.hero a{
  background:var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  
}
 .container a {
  background:var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px; 
}
.mg-fluid {
  max-width: 80%;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width:960px) {
  h1 {
   font-size:45px; 
   line-height: 2;
  }
  .project-description  {
    padding: 0;
    text-align: center;
  }
}
.container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 1;
}
.container h2 {
font-family: var(--primary-font-family);
font-size: 20px;
}
.about-section {
  
  padding: 40px 20px;
  margin: 30px;
  
}
.container {
background:#FFF7DF ;
text-align: center;
padding: 0;
}
